body{
    font-size: 16px;
    margin: 0;
    background-color: darkgrey;
}
h1{color: red;}
.menu-container{
    margin: 20% auto;
    text-align: center;
}
.overlay{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    background-color:transparent;
}
.game-ui{
    display: flex;
    position: absolute;
    top: 0;
    left: 1rem;
    flex-direction: column;
    height: 90vh;
    width: 10vw;
    
}
.lives{
    height: 50px;
    width: 50px;
}

.card{
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}
.card-hide{
    position: relative;
    z-index: -5;
}
.hide{
    display: none;
}
#opening-menu{
    display: block;/*change this to block when finished editing*/
    position: absolute;
    top: 0;
    background-color: beige;
    width: 100vw;
    height: 100vh;
    z-index: 5;
}
#card-table{
    background-color: forestgreen;
    width: 80vw;
    height: 80vh;
    margin: 10vh auto 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
}
.cards-container{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(13,minmax(50px, auto));
    grid-auto-rows: minmax(70px, auto);
    /* display: flex;
    flex: 1 1 100%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; */
    gap: 20px;
    width: 90%;
    height: 90%;
}   