body{
    margin: 0;
    background-color: darkgrey;
}
h1{color: red;}
.menu-container{
    margin: 20% auto;
    text-align: center;
}
.card{
    max-width: 100%;
    max-height: 100%;
}
.card-hide{
    position: relative;
    z-index: -5;
}
#opening-menu{
    display: none;/*change this to block when finished editing*/
    position: absolute;
    top: 0;
    background-color: beige;
    width: 100vw;
    height: 100vh;
}
#card-table{
    background-color: forestgreen;
    width: 80vw;
    height: 80vh;
    margin: 10vh auto 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
}
.cards-container{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill,minmax(50px, auto));
    grid-auto-rows: minmax(68px, auto);
    /* display: flex;
    flex: 1 1 100%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; */
    gap: 20px;
    border: 1px solid black;
    width: 90%;
    height: 90%;
}   